<header class="nav-header observer">
    <nav class="navbar container">
        <a href="#" class="navbar__logo navigation-link">QuickAid</a>
        <ul class="navbar__links" id="navbar__links">
            <li class="navbar__items"><a href="#" >Max Mustermann</a></li>
            <li class="navbar__items"><a href="#" >Logout  <i class="fas fa-sign-out-alt"></i></a></li>
            <div class="navbar__lang navbar__items">
                <a href="./dashboard.html" class="lang"><span>EN</span></a>
                <a href="./PORTUGUES/dashboard.html" class="lang"><span>PT</span></a>
            </div>
        </ul>
        
        <div class="burger" id="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
</header>