
<% if(currentUser) {%> 
<nav class="navbar sticky-top navbar-expand-lg navbar-dark">
    <div class="container-fluid container">
      <% if(currentUser) {%> 
        <a class="navbar-brand me-auto fw-bold fs-3" href="/volunteers">QuickAid</a>
      <% }else{ %>
        <a class="navbar-brand me-auto fw-bold fs-3" href="#">QuickAid</a>
        <% } %>  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <% if(currentUser) {%> 
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                  <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
                </svg>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/emergencies/new"> Emergency</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/volunteers/new">Volunteer</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/emergencies">Emergencies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/logout">Logout <i class="fas fa-sign-out-alt"></i></a>
            </li>
          <% } %> 
        </ul>
      </div>
    </div>
  </nav>
  <% } %>  