<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All volunteers</title>
</head>
<body>
    <h1>All volunteers</h1>
    <ul>
        <% for(let v of volunteers){ %> 
            <li> <a href="/volunteers/<%= v._id %>"><%= v.firstName %></a></li>
        <% } %> 
    </ul>

    <a href="/volunteers/new">add</a>
</body>
</html>