:root{
    --clr-primary: #827873;
    --clr-primary-transparent: #8A817Cf5;
    --clr-accent-primary: #08415C; 
    --clr-accent-primary-transparent: #095274ea; 
    --clr-accent-secondoray: #FFBC1F; 
    --clr-accent-secondoray-transparent: #ffd36df8; 
    --clr-white: #F7F5FB;
    --clr-error: #df0c0c;
    --clr-sucess: #2cbb53;
    --ff-main: 'Lato', sans-serif;
    --ff-secundary: 'Open Sans', sans-serif;
}

*, 
*::after, 
*::before{
    box-sizing: border-box;
}

h1,
h2,
h3,
h4{
    font-family: var(--ff-main);
}

body{
    margin: 0;
    background-color: #fbfbfb;
    font-family: var(--ff-secundary);
}

.navbar{
    /* background-color: #95C2C4; */
    background-color: #6DC2C5;
}

.navbar-dark .navbar-nav .nav-link{
    color: #fff;
}

.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
}

/* DETAILS VOLUNTEER */

.emergency-closed{
    font-size: 1.4rem;
    margin-left: 1rem;
}


/* END DETAILS VOLUNTEER */
.volunteer-card .card-body{
    border: 1px solid #9b8d8d;
}

/* BUTTONS STYLES */

.btn-primary.disabled{
    background-color:var(--clr-accent-primary);
    border-color: var(--clr-accent-primary);
    pointer-events: none;
    opacity: .65;
    cursor: not-allowed;

}

.btn-primary{
    background-color:var(--clr-accent-primary);
    border-color: var(--clr-accent-primary);
}

.btn-primary:hover {
    color: #fff;
    background-color:var(--clr-accent-primary-transparent);
    border-color: var(--clr-accent-primary-transparent);
}

.btn-primary:focus{
    box-shadow: 0 0 0 .25rem --clr-accent-primary-transparent;
}

.btn-secondary.disabled{
    color: var(--clr-accent-primary);
    border-color: var(--clr-accent-primary);
    pointer-events: none;
    opacity: .65;
    cursor: not-allowed;
}
.btn-secondary{
    color: var(--clr-accent-primary);
    border-color: var(--clr-accent-primary);
    background-color: #fff;
}
.btn-secondary:hover{
    color: var(--clr-white);
    border-color: var(--clr-accent-primary);
    background-color: var(--clr-accent-primary);
}

.btn-edit{
    background-color: var(--clr-accent-secondoray);
    border-color: var(--clr-accent-secondoray);
}
.btn-edit:hover{
    background-color: var(--clr-accent-secondoray-transparent);
    border-color: var(--clr-accent-secondoray-transparent);
}


/* END BUTTONS STYLES */


.list-group-item{
    border: 1px solid #9b8d8d;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    position: relative;
}
.list-group-item:hover{
    top: -1px;
    box-shadow: 0 3px 6px rgba(33,33,33, 0.2);

}